<html lang="en">
  <head>
      <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='heart.jpg') }}">
      <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <title>CazMouse</title>
  </head>
  <body>
    <div>
      <p>
        "I'm sorry but this device dosn't use a pointer"
        "Come back when you have a real computer"
      <i class="octocat animate right"></i>
    </div>
  </body>
</html>
